<form accept-charset="UTF-8" action="/net_packets/search" method="post">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Input ip or port</span>
    </div>
    <input name="data" type="text" aria-label="First name" class="form-control">
    <input type="submit" value="Search" class="btn btn-primary">
  </div>
</form>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>starttime</th>
      <th>stoptime</th>
      <th>srcip</th>
      <th>srcport</th>
      <th>dstip</th>
      <th>dstport</th>
      <th>packets</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @net_packets.each do |packet| %>
    <tr id="<%= packet.id %>">
      <td><%= packet.starttime %></td>
      <td><%= packet.stoptime %></td>
      <td><%= packet.srcip %></td>
      <td><%= packet.srcport %></td>
      <td><%= packet.dstip %></td>
      <td><%= packet.dstport %></td>
      <td><%= packet.packets %></td>
      <td><%= link_to 'Delete', net_packet_path(packet),method: :delete,data:{confirm: 'Are you sure?'},class: 'btn btn-danger' %></td>
      <td><%= link_to 'Edit', edit_net_packet_path(packet),class: 'btn btn-secondary' %></td>
      <td><%= packet.id %></td>
    </tr>
  <% end %>
  </tbody>
</table>